h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #cc2828, #db541f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}
.button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color:white;
    border-radius: 5px;
    background-color: rgb(193, 48, 72);
    padding: 5px 25px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .degrees{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.item{
    background-color: #ccc;
    padding: 15px;
    border-radius: 4px;
}
